@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --accent: #E21D1D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-news-cycle), ui-sans-serif, system-ui;
  --font-mono: var(--font-courier-prime), ui-monospace, monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
